name: Deploy

on:
    workflow_dispatch: {}
    push:
        branches:
            - main
    repository_dispatch:
        types: [app_release]

concurrency:
  group: ${{ github.workflow }}
  cancel-in-progress: true

env:
    VITE_BASE: /
    VITE_HOSTNAME: https://mihon.app

jobs:
    deploy:
        runs-on: ubuntu-latest
        defaults:
          run:
            working-directory: "website"

        permissions:
            contents: read
            pages: write
            id-token: write

        environment:
            name: github-pages
            url: ${{ steps.deployment.outputs.page_url }}

        steps:
            - name: Checkout
              uses: actions/checkout@v5
              with:
                  fetch-depth: 0

            - name: Install Node.js
              uses: actions/setup-node@v6
              with:
                  node-version: 24

            - name: Install pnpm
              uses: pnpm/action-setup@v4
              with:
                version: 10
                run_install: false
                package_json_file: "website/package-lock.json"

            - name: Get pnpm store directory
              shell: bash
              run: |
                echo "STORE_PATH=$(pnpm store path --silent)" >> $GITHUB_ENV

            - uses: actions/cache@v4
              name: Setup pnpm cache
              with:
                path: ${{ env.STORE_PATH }}
                key: ${{ runner.os }}-pnpm-store-${{ hashFiles('**/pnpm-lock.yaml') }}
                restore-keys: |
                  ${{ runner.os }}-pnpm-store-

            - name: Install dependencies
              run: pnpm install

            - name: Build
              run: pnpm build

            - name: Configure pages
              uses: actions/configure-pages@v5

            - name: Upload pages artifact
              uses: actions/upload-pages-artifact@v4
              with:
                  path: website/dist

            - name: Deploy
              id: deployment
              uses: actions/deploy-pages@v4
